In [1]:
import numpy as np
import pandas as pd
import torch 
import os

os.makedirs(os.path.join('..','data'),exist_ok=True)#找到路径，新建文件夹
data_file=os.path.join('..','data','house_tiny.csv')#建立csv文件
with open(data_file,'w') as f:#写入
    f.write('NumRooms,Alley,Price\n')
    f.write('NA,Pave,127500\n')
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

In [13]:
data=pd.read_csv(data_file)
data

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

In [14]:
inputs,outputs=data.iloc[:,0:2],data.iloc[:,2]#data是数据框，所以需要定位，用iloc
inputs=inputs.fillna(inputs.mean())#连续函数插值
inputs

C:\anaconda\envs\torch\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

In [8]:
inputs=pd.get_dummies(inputs,dummy_na=True)
inputs
#get_dummies函数用法
#data : array-like, Series, or DataFrame
#输入的数据
#prefix : string, list of strings, or dict of strings, default None
#get_dummies转换后，列名的前缀
#columns : list-like, default None
#指定需要实现类别转换的列名
#dummy_na : bool, default False
#增加一列表示空缺值，如果False就忽略空缺值
#drop_first : bool, default False
#获得k中的k-1个类别值，去除第一个

   NumRooms  Alley_Pave  Alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
3       3.0           0          1

In [15]:
x,y=torch.tensor(inputs.values),torch.tensor(outputs.values)#数据框转tensor
x,y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500, 106000, 178100, 140000]))